.select {
  min-width: 10rem;

  select {
    width: 100%;
    font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
    font-size: 16px;
    padding: 15px 30px;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: rgb(49, 71, 89);
    cursor: pointer;
  }
}
