@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.ingredient-info {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(49, 71, 89);
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  .image-wrapper {
    width: 35rem;
    .image {
      width: 35rem;
      padding-bottom: 2rem;
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }
  h3 {
    padding-top: 0.3rem;
  }
  p {
    padding-top: 0.3rem;
  }

  .description {
    background-color: rgb(49, 71, 89);
    box-shadow: 0px 12px 24px rgba(49, 71, 89, 0.15), 0px 6px 12px rgba(49, 71, 89, 0.1);
    color: bisque;
    width: 35rem;
    margin-top: 2rem;

    border-radius: 15px;
    padding: 1rem 1rem 3rem 1rem;
    position: relative;
    height: auto;
    transition: all 2s ease-in-out, padding 0.5s;
    overflow: hidden;

    &.closed {
      padding: 1rem;
      transition: all 2s ease-in-out;
    }

    h2 {
      padding-bottom: 0.6rem;
    }

    p {
      line-height: 1.5;
      height: auto;
      transition: all 2s ease-in-out;
    }

    a {
      color: bisque;
      text-decoration: none;
      transform: scale(1);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
        display: inline-block;
        color: white;
      }
    }

    .expand-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(0deg, rgba(49, 71, 89, 1) 60%, rgba(49, 71, 89, 0) 100%);
      border-radius: 0 0 15px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 0 1rem 0;
      cursor: pointer;
      transition: all 0.5s;

      img {
        transform: scale(1);
        transition: all 0.5s;
      }

      &.d-none {
        display: none;
      }

      &:hover {
        img {
          transform: scale(1.3);
        }
      }

      &.close {
        background: linear-gradient(0deg, rgba(49, 71, 89, 1) 60%, rgba(49, 71, 89, 0) 100%);
        padding: 1rem 0;
        bottom: 0;
        img {
          transform: scale(1) rotate(180deg);
        }
        &:hover {
          img {
            transform: scale(1.3) rotate(180deg);
          }
        }
      }
    }
  }

  .list-title {
    padding-top: 3rem;
    width: 35rem;
    text-align: left;
  }
  .drink-card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
