@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  flex-direction: column;

  .filter {
    font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
    color: rgb(49, 71, 89);

    input {
      margin-right: 1rem;
    }
  }
}

.drink-card {
  margin-bottom: 20px;
  margin-top: 4rem;
}

button {
  padding: 1rem 2rem;
  margin-bottom: 2em;
}
