@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.drink-card-grid {
  display: grid;
  max-width: 90vw;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1rem;

  justify-items: center;
  align-items: start;
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  padding: 2rem;
}

.search-form {
  margin: 5rem auto 2rem;
  padding: 0 2rem;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;

  h2 {
    color: rgb(49, 71, 89);
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

    input[type="text"] {
      font-size: 20px;
      padding: 15px 30px;
      flex: 1;
      border: none;
      border-radius: 4px;
      margin: 0;
      font-family: "Julius Sans One", sans-serif, Arial, Helvetica;

      &:focus {
        outline: 2px solid rgb(49, 71, 89);
      }
    }

    .search-button {
      margin: 0;
      font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
      font-size: 20px;
      padding: 15px 30px;
      color: bisque;
    }
  }

  .filters {
    .checkbox {
      font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
      font-size: 20px;
      padding: 15px 30px;
      outline: none;
      text-transform: lowercase;
      background-color: white;
      border: none;
      border-radius: 4px;
      color: rgb(49, 71, 89);
      display: flex;
      justify-content: space-between;
    }
  }

  .filter-search-buttons {
    justify-content: end;
  }
}
.search-message {
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.searchPage-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin: 0;
}

.bottom {
  padding-bottom: 2rem;
}
