@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.ingredient-info {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(49, 71, 89);
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  .image-wrapper {
    width: 35rem;
    .image {
      width: 35rem;
      padding-bottom: 2rem;
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }
  h3 {
    padding-top: 0.3rem;
  }
  p {
    padding-top: 0.3rem;
  }

  .description {
    background-color: rgb(49, 71, 89);
    box-shadow: 0px 12px 24px rgba(49, 71, 89, 0.15), 0px 6px 12px rgba(49, 71, 89, 0.1);
    color: bisque;
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    padding: 1rem;
    h2 {
      padding-bottom: 0.6rem;
    }

    p {
      line-height: 1.5;
    }

    a {
      color: bisque;
      text-decoration: none;
      transform: scale(1);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
        display: inline-block;
        color: white;
      }
    }
  }
  .drink-card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
