@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
}