article{
  margin-top: 2em;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(49, 71, 89, 0.118);
  padding: 2rem;
  border-radius: 15px;
}

figcaption{
  margin-top: 1em;
  font-size: 2em;
}
img{
  max-width: 300px;
  border-radius: 15px;
}

